body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.red-box {
    width: 400px;
    height: 100px;
    background: #f00;
    position: relative;
}

.white-box {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    padding: 10px;
}

.purple-box {
    width: 40px;
    height: 40px;
    background: #6729a0;
    margin-left: 10px;
}

.middle-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.left-container, .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box {
    width: 150px;
    height: 250px;
    background: #0a5;
}

.blue-box {
    width: 250px;
    height: 250px;
    background: #2563eb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.orange-box {
    width: 140px;
    height: 40px;
    background: #ff863f;
    margin: 5px 0;
}

.yellow-box {
    width: 400px;
    height: 100px;
    background: #fd0;
}